/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body { padding-top: 10px; background: transparent url("/assets/background46.png") repeat }
button.bigNavigate,button.cellBut {
  background: #a0c3db;
  background-image: -webkit-linear-gradient(top, #a0c3db, #2980b9);
  background-image: -moz-linear-gradient(top, #a0c3db, #2980b9);
  background-image: -ms-linear-gradient(top, #a0c3db, #2980b9);
  background-image: -o-linear-gradient(top, #a0c3db, #2980b9);
  background-image: linear-gradient(to bottom, #a0c3db, #2980b9);
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  -webkit-box-shadow: 8px 7px 16px #666666;
  -moz-box-shadow: 8px 7px 16px #666666;
  box-shadow: 8px 7px 16px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 5px;
  text-decoration: none;
  position: relative;
}

button.bigNavigate:active, button.cellBut:active {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

button.cellBut {
	width: 100%;
	vertical-align: middle;
	height: 100%;
}

div.centered {
	text-align: center
	
}

h1.main {
	color: #CBF76F
}

h1.formTitle {
	color: #154A08
}


th.standard {
font-size: 13px;
font-weight: normal;
background: #b9c9fe;
border-top: 4px solid #aabcfe;
border-bottom: 1px solid #fff;
color: #039;
padding: 8px;
border-right: 1px solid #9baff1;
border-left: 1px solid #9baff1;
}

tr.standard:hover {
	color: #6699ff;
}

table.standard {
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size: 14px;
	border-collapse: collapse;
	text-align: left;
}

td.standard {
background: #E8EDFF none repeat scroll 0% 0%;
border-bottom: 1px solid #FFF;
color: #669;
border-top: 1px solid transparent;
padding: 8px;
border-right: 1px solid #9baff1;
border-left: 1px solid #9baff1;

}

tr.standard:hover td{
  background: #ccddff; 
}


table.barby-barcode { border-spacing: 0; }
tr.barby-row {}
td.barby-cell { width: 2px; height: 80px; }
td.barby-cell.on { background: #000; }

#barinput input {
	width: 386px;
	font-size: xx-large
	}

#pininput input {
	width: 386px;
	font-size: xx-large
	}

div.simple {
    background: #ccc;
    padding: 5px;
    padding-right: 20px; 
    border: solid 1px black;
}

div.keyboard_centered {
	display: block; 
	z-index: 999; 
	position: relative; 
	float:left; 
	left:50%;
}


button.controlbtn, input.controlbtn {
 text-decoration:none; 
 text-align:center; 
 padding:11px 32px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:11px;
 -moz-border-radius:11px; 
 border-radius: 11px; 
 font:18px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#79e0cf; 
 background-image: -moz-linear-gradient(top, #79e0cf 0%, #1982A5 100%); 
 background-image: -webkit-linear-gradient(top, #79e0cf 0%, #1982A5 100%); 
 background-image: -o-linear-gradient(top, #79e0cf 0%, #1982A5 100%); 
 background-image: -ms-linear-gradient(top, #79e0cf 0% ,#1982A5 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
 background-image: linear-gradient(top, #79e0cf 0% ,#1982A5 100%);   
 -webkit-box-shadow:6px 6px 5px #bababa, inset -1px 0px 1px #ffffff; 
 -moz-box-shadow: 6px 6px 5px #bababa,  inset -1px 0px 1px #ffffff;  
 box-shadow:6px 6px 5px #bababa, inset -1px 0px 1px #ffffff;  
 opacity:0.85; 
 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85); 
 filter: alpha(opacity=85); 
}

p.topMessage {
	display: block;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
float: none;
z-index: auto;
width: auto;
height: auto;
position: static;
cursor: default;
opacity: 1;
margin: 0 0 0 30px;
padding: -7px;
overflow: visible;
border: none;
-webkit-border-radius: 0;
border-radius: 0;
font: normal 16px/1 "Lucida Console", Monaco, monospace;
color: black;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
background: none;
-webkit-box-shadow: none;
box-shadow: none;
text-shadow: 4px 4px 6px rgba(0,0,0,0.5) ;
-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
-webkit-transform: none;
transform: none;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;
}

#operationCntDiv input {
	width: 386px;
	font-size: xx-large
}


input.controlbtn_small, a.controlbtn_small {
 text-decoration:none; 
 text-align:center; 
 padding:11px 32px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:11px;
 -moz-border-radius:11px; 
 border-radius: 11px; 
 font:12px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#79e0cf; 
 background-image: -moz-linear-gradient(top, #79e0cf 0%, #1982A5 100%); 
 background-image: -webkit-linear-gradient(top, #79e0cf 0%, #1982A5 100%); 
 background-image: -o-linear-gradient(top, #79e0cf 0%, #1982A5 100%); 
 background-image: -ms-linear-gradient(top, #79e0cf 0% ,#1982A5 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
 background-image: linear-gradient(top, #79e0cf 0% ,#1982A5 100%);   
 -webkit-box-shadow:6px 6px 5px #bababa, inset -1px 0px 1px #ffffff; 
 -moz-box-shadow: 6px 6px 5px #bababa,  inset -1px 0px 1px #ffffff;  
 box-shadow:6px 6px 5px #bababa, inset -1px 0px 1px #ffffff;  
 opacity:0.85; 
 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85); 
 filter: alpha(opacity=85); 
}

input.controlbtn_medium, a.controlbtn_medium {
 text-decoration:none; 
 text-align:center; 
 padding:11px 32px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:11px;
 -moz-border-radius:11px; 
 border-radius: 11px; 
 font:24px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#79e0cf; 
 background-image: -moz-linear-gradient(top, #79e0cf 0%, #1982A5 100%); 
 background-image: -webkit-linear-gradient(top, #79e0cf 0%, #1982A5 100%); 
 background-image: -o-linear-gradient(top, #79e0cf 0%, #1982A5 100%); 
 background-image: -ms-linear-gradient(top, #79e0cf 0% ,#1982A5 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
 background-image: linear-gradient(top, #79e0cf 0% ,#1982A5 100%);   
 -webkit-box-shadow:6px 6px 5px #bababa, inset -1px 0px 1px #ffffff; 
 -moz-box-shadow: 6px 6px 5px #bababa,  inset -1px 0px 1px #ffffff;  
 box-shadow:6px 6px 5px #bababa, inset -1px 0px 1px #ffffff;  
 opacity:0.85; 
 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85); 
 filter: alpha(opacity=85); 
}



